<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>March Madness Tool</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body style="background-color: #F5E5D4;">
    <div id="header-information">
        <h1 class="main-header">March Madness Tool</h1>
        <form action="" method="post">
            <label for="team1Input" id="team-1-input">Team 1:</label>
            <input type="text" id="team1Input" name="team1">
            <label for="team2Input">Team 2:</label>

            <input type="text" id="team2Input" name="team2">
            <button id="submit-button" type="submit">Submit</button>
        </form>
    </div>